{{#section 'styles'}}
{{/section}}

<section id="corpo">
    <div id="data">
        <h2 class="date">Horários da Semana</h2>
    </div>

    <div id="laboratorio">
        <label for="cLab">Filtrar por Laboratório:</label>
        <select name="tLab" id="cLab">
            {{#each laboratorios}}
                <option value="{{this.labid}}">{{this.labnome}}</option>
            {{/each}}
        </select>
    </div>

    <div id="calendario">
        <table class="dwm_main" id="week_main">
            <thead>
            <tr>
                <th>Período</th>
                {{#each diasDaSemana}}
                    <th class="diaSemana">{{this.nome}}<br><span class="data-js"></span></th>
                {{/each}}
            </tr>
            </thead>
            <tbody id="cedulas">
            {{#each horariosPadrao}}
                <tr>
                    <th>{{this.hp_hora_inicio}} - {{this.hp_hora_fim}}</th>
                    {{#each ../diasDaSemana}}
                        {{#with (lookup (lookup ../calendario this.id) ../hp_id)}}
                            <td class="marcada" data-lab-id="{{this.ht_laboratorio_id_fk}}">
                                <a href="#">
                                    <p>
                                        <strong>{{this.disciplina}}</strong><br/>
                                        {{this.professor}}<br/>
                                        <small>{{this.turnome}}</small>
                                    </p>
                                </a>
                            </td>
                        {{else}}
                            <td class="new" data-dia="{{this.id}}" data-horario="{{../hp_id}}"></td>
                        {{/with}}
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>

{{#section 'scripts'}}
{{! Embeda os dados do servidor em uma variável JavaScript }}
<script>
    const agendamentos = {{{agendamentosJSON}}};
</script>
{{! Carrega o nosso novo script que controlará o calendário }}
<script src="/js/calendario.js"></script>
{{/section}}