{{#section 'styles'}}
    <link rel="stylesheet" href="/css/bVidrarias.css">
{{/section}}

<section id="corpo">
    {{#if vidrarias.length}}
        <ol class="shelf">
            {{#each vidrarias}}
                <li class="image-container">
                    <a href="/vidrarias/{{this.vid_id}}" data-id="{{this.vid_id}}" class="vidraria-link">
                        <img src="{{this.vid_imagem_path}}" alt="{{this.vid_nome}}">
                        <p>{{this.vid_nome}}</p>
                    </a>
                </li>
            {{/each}}
        </ol>

        <div id="detalhes-vidraria-container" class="detalhes-container">
            </div>

    {{else}}
        <p>Nenhuma vidraria cadastrada no momento.</p>
    {{/if}}
</section>

{{#section 'scripts'}}
    <script src="/js/vidrarias.js"></script>
{{/section}}